.pdf-page {
  width: 790px;
  font-family: OpenSans;
  margin: auto;
  padding-bottom: 40px;
  background-color: white;
  min-height: 842px;
  .head {
    padding: 45px;
    .logo {
      display: block;
      float: left;
      background: url('/assets/inco-logo.svg') no-repeat;
      width: 83px;
      height: 83px;
    }
    .logo-side {
      margin-top: 10px;
      margin-left: 110px;
      font-style: italic;
      .name {
        color: #393F48;
        font-size: 36px;
      }
      .position {
        line-height: 34px;
        font-size: 18px;
        color: #95989D;
      }
    }
  }
  .section-name {
    color: #23AFA5;
    margin-bottom: 20px;
    margin-left: 55px;
    font-size: 16px;
    margin-top: 30px;
    text-transform: uppercase;
    vertical-align: middle;
    img {
      width: 22px;
      vertical-align: middle;
      height: 22px;
      margin-right: 10px;
    }
  }
  .work-item {
    margin: 0 55px;
    .left {
      width: 120px;
      float: left;
      height: 100%;
      .work-name {
        font-size: 14px;
        color: #696C73;
        margin-bottom: 5px;
      }
      .period {
        color: #969BA2;
        font-size: 12px;
        font-style: italic;
      }
    }
    .right {
      margin-left: 120px;
      position: relative;
      height: 100%;
      padding-left: 20px;
      width: calc(100% - 120px);
      padding-bottom: 20px;
      border-left: 2px solid #D4D7DA;
      .dot {
        background: url('/assets/point.svg') no-repeat;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 0;
        left: -10px;
        z-index: 10;
        background-color: white;
      }
      .position {
        color: #696C73;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .prj {
        font-weight: 500;
        color: #696C73;
        font-size: 13px;
        margin-bottom: 20px;
      }
      .projects {
        list-style: disc;
        margin-left: 25px;
        li {
          font-size: 13px;
          margin-top: 25px;
          font-weight: 400;
          color: #696C73;
          .desc {
            span {
              font-weight: bold;
              color: #4A4A4A;
            }
          }
          .details {
            margin: 15px 0;
            font-weight: 600;
            span {
            }
          }
          .stack {
            font-weight: 600;
          }
        }
      }
    }
  }
  .education {
    margin-left: 55px;
    .name {
      text-transform: uppercase;
      color: #696C73;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .prof {
      font-style: italic;
      color: #696C73;
    }
    .desc {
      color: #696C73;
      margin-top: 15px;
      font-weight: 600;
    }
  }
  .skills {
    margin: 0 55px;
    .skills-list {
      margin-right: 10px;
    }
    .name {
      margin-bottom: 22px;
      color: #696C73;
      font-weight: 600;
      font-size: 14px;text-align: center;
    }
    .left {
      width: 49%;
      float: left;
    }
    .right {
      width: 49%;
      float: right;
    }
    li {
      margin: 14px 0;
      .title {
        font-weight: 400;
        display: inline-block;
        color: #696C73;
      }
      .level {
        .circle {
          width: 9px;
          height: 9px;
          background: #C7C8CF;
          margin-left: 5px;
          display: inline-block;
          border-radius: 10px;
        }
        &.c1,&.c2,&.c3,&.c4,&.c5 {
          .circle:nth-child(1) {
            background-color: #9293A1;
          }
        }
        &.c2,&.c3,&.c4,&.c5 {
          .circle:nth-child(2) {
            background-color: #9293A1;
          }
        }
        &.c3,&.c4,&.c5 {
          .circle:nth-child(3) {
            background-color: #9293A1;
          }
        }
        &.c4,&.c5 {
          .circle:nth-child(4) {
            background-color: #9293A1;
          }
        }
        &.c5 {
          .circle:nth-child(5) {
            background-color: #9293A1;
          }
        }
      }
    }
  }
}

#float-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 24px;
  background: #279b9b;
  text-transform: uppercase;
  color: white;
}